{% extends 'base.html'%}

{% block content %}


{{block.super}}
<style>
    .first{
        text-align: center;
        background-color: floralwhite;
        height: 450px;
    }
  
    .second{
        
        text-align: center;
        background-color: rgb(255, 145, 0, 0.7);
        background-size: cover;
        height: 450px;
    }
    
</style>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-6 first">
        <h2>Education</h2> 
        <b>Moringa School</b>  / <i>Certificate</i> 
        <p>JULY 2020 - DECEMBER 2020,  NAIROBI <br>
        Full stack web development</p>
        <b>University of Nairobi</b> 
        <p>SEPTEMBER 2015 - PRESENT,  NAIROBI <br>
        BSc. Computer Science(Deferred) </p>
        <b>Nanyuki Boys High School</b> / <i>Certificate</i> 
        <p>FEBRUARY 2010 - NOVEMBER 2013 , NANYUKI <br>
        Kenya Certificate of Secondary Education </p>
        <hr>
        <h2>Hobbies</h2>
        
            Fine art</br>
            Coding</br>
            Beading</br>
            Soccer</br>
        
        
    </div>
    <div class="col-md-6 second">
        <div class="row text-center">
        <h2>Skills</h2>
        <div class="col-md-3">
        <b>Strong</b>
       
            Python</br>
            Javascript</br>
            HTML & CSS</br>
            MySQL</br>
            Flask</br>
            Angular</br>
            Django </br>
            APIs</br>
      
        </div>
        <div class="col-md-3">
        <b>Experienced</b>
       
            PHP</br>
            C</br>
            React</br>
       
        </div>
        </div><hr>
        <h2>Languages</h2>
       
            English</br>
            Swahili</br>
        
    </div>
    </div>
   
    
</div>
{% endblock %}