{% extends 'base.html'%}

{% block content %}


{{block.super}}
<style>
    .first{
        font-size: 20px;
        text-align: center;
        background-color: floralwhite;
        height: 450px;
    }
    .second{
        font-size: 20px;
        text-align: center;
        background-color: rgb(255, 145, 0, 0.7);
        background-size: cover;
        height: 450px;
    }
    .content{
        margin-top: 50px;
    }
    
</style>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-6 first">
        <div class="content">
            <p>If you wish to simply say hi or have me 
                work <br> on a project, Call me or Whatsapp me via</p>
       <b>Location:</b>Nairobi, Kenya <br>
       <b>Tel:</b>+254 707934603 <br> or  +254 774630176
       </div>
    </div>
    <div class="col-md-6 second">
        <div class="content">
            <p>Or drop me an email at</p>
        <b>Email:</b><a href=" ochrist7@gmail.com"> ochrist7@gmail.com</a>   
        </div>
    </div>
    </div>
   
    
</div>
{% endblock %}