{% extends 'base.html'%}

{% block content %}


{{block.super}}
<style>
    .first{
        text-align: center;
        background-color: floralwhite;
        height: 450px;
    }
    .me{
        
        height: 250px;
        width: 240px;
        border: 2px solid#ff9100;
        padding: 2px;
        border-radius: 200px;
    }
    .second{
        
        text-align: center;
        background-color: rgb(255, 145, 0, 0.7);
        background-size: cover;
        height: 450px;
    }
    .to{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .to:hover{
        border:1px solid  #ff9100;
        padding: 1px;
    }
    .second p{
        font-weight: bold;
       
        margin: 15px;
        font-size: 20px;
    }
    .job{
        color: dodgerblue;
        font-size: 25px;
    }
</style>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-6 first">
       <img class="me"src="../../static/images/me.jpg" alt="my_photo">
        <h1 class="text-center"><b>Victor Nduati</b> </h1>
        <a href="https://www.facebook.com/vector.christopher"><img class="to" src="../../static/images/fb.png" alt="facebook"></a>
        <a href="https://github.com/Vector254"><img class="to"  src="../../static/images/github.png" alt="github"></a> 
        <a href="https://www.linkedin.com/in/victor-nduati-13b235167/"><img class="to" src="../../static/images/linkedin.png" alt="linkedin"></a>
    </div>
    <div class="col-md-6 second">
        <h2>Profile</h2>
        <p>A creative and highly imaginative full stack <span class="job">software developer</span>  with specification
            in the web development field. Proficient in various programming
            languages and development frameworks, with an excellent
            leadership background, quick learning ability and high
            adaptivity for new encounters.
        </p>
    </div>
    </div>
   
    
</div>
{% endblock %}